.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #830505;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-area img {
    height: 60px;
}

.company-name h1 {
    margin: 0;
    font-size: 20px;
    color: #fff;
}

.company-name span {
    font-size: 13px;
    color: #ffdede;
    letter-spacing: 2px;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    padding: 6px 14px;
}

.nav a.active {
   
    border-radius: 6px;
}
/* LOGO + COMPANY NAME */
.logo-area img {
    height: 55px;
    width: auto;
    object-fit: contain;
}

.logo-area img {
    height: 55px;
    width: auto;
}

/* COMPANY NAME TEXT */
.company-name {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.company-name .main-name {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.company-name .sub-name {
    font-size: 12px;
    letter-spacing: 2px;
    color: #ffdede;
}
